.container {
  width: 100%;
}

.icon {
  color: color-mix( in oklab, hsl( 220 calc( 1 * 4%) 88% / 1) 100%, black 0% );
  width: 12px;
  height: 12px;
}

.name {
  display: flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: color-mix( in oklab, hsl( 220 calc( 1 * 4%) 63% / 1) 100%, black 0% );
}

.name:hover {
  color: color-mix(in oklab, hsl(0 calc(1 * 0%) 100% / 1) 100%, black 0%);
  .icon {
    color: color-mix(in oklab, hsl(0 calc(1 * 0%) 100% / 1) 100%, black 0%);
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
