.divider {
  z-index: 1;
  height: 0;
  border-top: thin solid
    color-mix(
      in oklab,
      hsl(228 calc(1 * 6%) 32.5% / 0.48) 100%,
      hsl(0 0% 0% / 0.48) 0%
    );
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  pointer-events: none;
  box-sizing: border-box;
  margin: 24px 16px 8px 14px;

  color: color-mix(
    in oklab,
    hsl(228 calc(1 * 6%) 32.5% / 0.48) 100%,
    hsl(0 0% 0% / 0.48) 0%
  );

  span {
    display: block;
    flex: 0 0 auto;
    padding: 2px 4px;
    color: color-mix(
      in oklab,
      hsl(214 calc(1 * 8.1%) 61.2% / 1) 100%,
      black 0%
    );
    background: color-mix(
      in oklab,
      hsl(223 calc(1 * 6.7%) 20.6% / 1) 100%,
      black 0%
    );
    line-height: 13px;
    font-size: 12px;
    margin-top: -1px;
    font-weight: 600;
    border-radius: 8px;
  }
}

.content {
  margin-top: 1.0625rem;
  position: relative;

  display: flex;
  flex-direction: row;
  padding-right: 48px;

  &:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
  }
}

.thumbnail {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 20;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;

  margin: 0 16px;
}

.message {
  padding: 0.124rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 20;
}

.profileName {
  display: block;
  position: relative;
  line-height: 1.375rem;
  min-height: 1.375rem;
  color: oklab(0.963963 -0.000228554 -0.00283051);
  white-space: break-spaces;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.media {
  color: oklab(0.899401 -0.00192499 -0.00481987);
  font-size: 16px;
  line-height: 1.375rem;
}

.image {
  position: relative !important;
  object-fit: contain;
  max-height: 350px;
  border-radius: 3px;
  cursor: pointer;
}
